+b.pagination-module
    ul
        li
            a(href="#") 1
        li
            a(href="#") 2
        li.active
            a(href="#") 3
        li
            a(href="#") 4
    +b.pagination-arrows
        +e.A(href="#" class="prev")
        +e.A(href="#" class="next")