extends ../layout/main

block variables
    - var title = 'Риф.юг - О нас';
    - var description = '';
    - var pageName = 'about';


block content
    // WEBSITE
    +b.content.page-index
        include ../includes/modules/header
        +b.SECTION.breadcrumbs
            .container
                +e.A(href="/") Главная
                +e.SPAN.separator
                span О нас
        +b.SECTION.page-text-section
            .container
                .typography
                    h3 Заголовок H3
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, nihil quia ab amet vitae labore maxime quibusdam alias nam error ea, nobis autem similique molestias temporibus dolore placeat quasi expedita!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt assumenda necessitatibus non architecto laborum sequi voluptatem accusamus ducimus? Nisi ad nam atque? Temporibus nam tenetur ipsum quasi officia qui officiis.
        include ../includes/modules/answer
        include ../includes/modules/footer

block script
    script(src="assets/js/app.js")