extends ../layout/main

block variables
    - var title = 'Риф.юг';
    - var description = '';
    - var pageName = 'index';


block content
    // WEBSITE
    +b.content.page-index
        include ../includes/modules/header

        // Main Slider
        +b.SECTION.main-slider(data-emergence="hidden")
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        +b.main-slide
                            +e.overlay
                                .container
                                    +e.content(data-swiper-parallax="-100" data-swiper-parallax-duration="600" data-swiper-parallax-opacity="0.5")
                                        +e.H2.title(class="--large") Создаём ваши мечты под ключ
                                        +e.desc
                                            p Ремонт помещений, создание дизайн-проекта или постройка дома под ключ. Нам это под силу
                                        +e.bottom
                                            +b.A( class="btn --neutral-primary js-scrollTo-answer") Бесплатная консультация
                            img(data-src="assets/images/main-slider/1.jpg", alt=""  ).swiper-lazy
                            .swiper-lazy-preloader
                    .swiper-slide
                        +b.main-slide
                            +e.overlay
                                .container
                                    +e.content(data-swiper-parallax="-100" data-swiper-parallax-duration="600" data-swiper-parallax-opacity="0.5")
                                        +e.H2.title Ремонт бывает<br> с таким завершением
                                        +e.desc
                                            p Сделаем для вас ремонт в срок и качественно. Вам не очем беспокоится, семье понравится.
                                        +e.bottom
                                            +b.A(class="btn --neutral-primary js-scrollTo-answer") Бесплатная консультация
                            img(data-src="assets/images/main-slider/2.jpg", alt=""  ).swiper-lazy
                            .swiper-lazy-preloader
                    .swiper-slide
                        +b.main-slide
                            +e.overlay
                                .container
                                    +e.content(data-swiper-parallax="-100" data-swiper-parallax-duration="600" data-swiper-parallax-opacity="0.5")
                                        +e.H2.title Уют начинается<br> с интерьера в доме
                                        +e.desc
                                            p Разработаем для вас дизайн помещения с учетом пожеланий. Нам под силу реализовать ваши мечты
                                        +e.bottom
                                            +b.A(class="btn --neutral-primary js-scrollTo-answer") Бесплатная консультация
                            img(data-src="assets/images/main-slider/3.jpg", alt=""  ).swiper-lazy
                            .swiper-lazy-preloader
                    .swiper-slide
                        +b.main-slide
                            +e.overlay
                                .container
                                    +e.content(data-swiper-parallax="-100" data-swiper-parallax-duration="600" data-swiper-parallax-opacity="0.5")
                                        +e.H2.title Ваш дом —<br> Ваша крепость
                                        +e.desc
                                            p Строительство современных домов
                                        +e.bottom
                                            +b.A(href="#" class="btn --neutral-primary") Бесплатная консультация
                            img(data-src="assets/images/main-slider/4.jpg", alt="" ).swiper-lazy
                            .swiper-lazy-preloader
                +e.nav
                    .container
                        +b.slider-nav-module
                            .swiper-prev
                                svg.svg-icon
                                    use(href='assets/icons/sprite.svg#icon-arrow')
                            .swiper-next
                                svg.svg-icon
                                    use(href='assets/icons/sprite.svg#icon-arrow')
                            +b.slider-counter
                                p
                                    big
                                        span 01 
                                        | / 
                                    | 01
                        .slider-dots
        +b.SECTION.advantages(data-emergence="hidden")
            .container
                +b.H3.title Почему выбирают нас
                +e.row
                    +b.advantage
                        +e.P.count 01
                        p Точно<br> в срок
                    +b.advantage
                        +e.P.count 02
                        p Качество+<br> Профессионализм
                    +b.advantage
                        +e.P.count 03
                        p Надежность
                    +b.advantage
                        +e.P.count 04
                        p Дизайн интерьера<br> в подарок
        +b.overlay-gray
            +b.SECTION.services
                .container
                    +b.section-description(data-emergence="hidden")
                        +e.row
                            +e.col
                                +b.H3.title Наши услуги
                            +e.col
                                .typography.text-columns
                                    p Наша компания оказывает полный комлекс услуг в сфере создания, обустройства и ремонта помещений. 
                                    p Опыт и надежность — наши основные преимущества перед конкурентами.
                                    p.hidden-sm Ваши пожелания учитываются на каждом этапе. Мы придерживаемся гибкого подхода к каждому клиенту. Ваши желания будут услышаны.
                    +b.design-interior(data-emergence="hidden")
                        +e.image
                            img(data-src="assets/images/design.jpg", alt="").js-parallax-scroll.js-lazy
                        +b.H3.title(class="--before-line") Дизайн интерьера
                        +b.service-title-block(data-emergence="hidden")
                            +e.H3.title Дизайн интерьера
                            img(data-src="assets/images/design-sm.jpg", alt="").js-lazy
                    +b.ideas(data-emergence="hidden")
                        +b.H3.title Мы воплотим<br> ваши идеи в реальность
                        +e.row
                            +e.col
                                .typography
                                    p Вам хочется создать дом с подходящей обстановкой. Вместе с нами это будет просто. Обратитесь за консультацией и наш дизайнер спроектирует дизайн вашей мечты.
                            +e.col
                                .typography
                                    p Создайте свой уют, который по достоинству оценят члены семьи. Этого можно достичь с помощью баланса цвета и форм. Наши дизайнеры имеют большой опыт.
                            +e.col
                                .typography
                                    p Вам хочется создать дом с подходящей обстановкой. Вместе с нами это будет просто. Обратитесь за консультацией и наш дизайнер спроектирует дизайн вашей мечты.
            
            +b.SECTION.design-cards
                .container
                    // visible mobile
                    +e.slider(data-emergence="hidden")
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    +b.design-card-mobile
                                        +e.image
                                            img(src="assets/images/design-cards/1-sm.jpg", alt="")
                                        +e.P.title Дизайн помещения квартиры
                                        +e.desc.typography
                                            p Утонченные решения в сочетании с мебелью, превратили квартиру в центре Краснодара в место уюта и гармонии. Цветовая схема выстроенна под индивидуальный запрос клиента. 
                                .swiper-slide
                                    +b.design-card-mobile
                                        +e.image
                                            img(src="assets/images/design-cards/2-sm.jpg", alt="")
                                        +e.P.title Дизайн помещения частного дома
                                        +e.desc.typography
                                            p Утонченные решения в сочетании с мебелью, превратили квартиру в центре Краснодара в место уюта и гармонии. Цветовая схема выстроенна под индивидуальный запрос клиента. 
                                .swiper-slide
                                    +b.design-card-mobile
                                        +e.image
                                            img(src="assets/images/design-cards/3-sm.jpg", alt="")
                                        +e.P.title Дизайн помещения коттеджа
                                        +e.desc.typography
                                            p Утонченные решения в сочетании с мебелью, превратили квартиру в центре Краснодара в место уюта и гармонии. Цветовая схема выстроенна под индивидуальный запрос клиента. 
                                .swiper-slide
                                    +b.design-card-mobile
                                        +e.image
                                            img(src="assets/images/design-cards/4-sm.jpg", alt="")
                                        +e.P.title Дизайн коммерческого помещения 
                                        +e.desc.typography
                                            p Утонченные решения в сочетании с мебелью, превратили квартиру в центре Краснодара в место уюта и гармонии. Цветовая схема выстроенна под индивидуальный запрос клиента. 
                    // visible desktop
                    +e.row
                        +e.col(class="--large")
                            +b.design-card.js-lazy(data-emergence="hidden" data-src="assets/images/design-cards/1.jpg" style="background-image:url('assets/images/thumbnail.gif')")
                                +e.H4.title Дизайн помещения квартиры
                                +e.content
                                    +b.item-element.typography
                                        p Утонченные решения в сочетании с мебелью, превратили квартиру в центре Краснодара в место уюта и гармонии. Цветовая схема выстроенна под индивидуальный запрос клиента. 
                                    +b.item-element.typography
                                        p Панорманые окна помогают дополнить атмосферу роскоши и неповторимости. Все материалы подбирались в процессе разработки дизайна. Что позволило воплотить задуманное по выгодным ценам.
                        +e.col
                            +b.design-card.js-lazy(data-emergence="hidden" data-src="assets/images/design-cards/2.jpg" style="background-image:url('assets/images/thumbnail.gif')")
                                +e.H4.title Дизайн помещения частного дома
                                +e.content
                                    +b.item-element.typography
                                        p Утонченные решения в сочетании с мебелью, превратили квартиру в центре Краснодара в место уюта и гармонии. Цветовая схема выстроенна под индивидуальный запрос клиента. 
                                        p Панорманые окна помогают дополнить атмосферу роскоши и неповторимости. Все материалы подбирались в процессе разработки дизайна. Что позволило воплотить задуманное по выгодным ценам.
                        +e.col
                            +b.design-card.js-lazy(data-emergence="hidden" data-src="assets/images/design-cards/3.jpg" style="background-image:url('assets/images/thumbnail.gif')")
                                +e.H4.title Дизайн помещения коттеджа
                                +e.content
                                    +b.item-element.typography
                                        p Утонченные решения в сочетании с мебелью, превратили квартиру в центре Краснодара в место уюта и гармонии. Цветовая схема выстроенна под индивидуальный запрос клиента. 
                                        p Панорманые окна помогают дополнить атмосферу роскоши и неповторимости. Все материалы подбирались в процессе разработки дизайна. Что позволило воплотить задуманное по выгодным ценам.
                        +e.col(class="--large")
                            +b.design-card.js-lazy(data-emergence="hidden" data-src="assets/images/design-cards/4.jpg" style="background-image:url('assets/images/thumbnail.gif')")
                                +e.H4.title Дизайн коммерческого помещения
                                +e.content
                                    +b.item-element.typography
                                        p Внешний вид вашего офиса, магазина, шоу-рума это везитная карточка для клиента. Необходимо расположить клиента к вашей компании. Это можно сделать с помощью правильного дизайна помещений.

                                    +b.item-element.typography
                                        p Мы разработаем индивидуальный дизайн-проект под ваше помещение. Наши специалисты учтут все ваши комментарии и пожелания. Каждый проект для нас индивидуален. 
                                                       
            +b.SECTION.repairs
                .container
                    +b.section-description(data-emergence="hidden")
                        +e.row
                            +e.col
                                +e.H3.title Ремонт
                                +b.service-title-block(data-emergence="hidden")
                                    +e.H3.title Ремонт
                                    img(data-src="assets/images/repairs-sm.jpg", alt="").js-lazy
                                +e.desc
                                    p Перед осуществлением ремонта, наши специалисты бесплатно приедут на объект для того, чтобы оценить:
                            +e.col
                                +b.repairs-items
                                    +b.repairs-item
                                        p Техническое<br> состояние
                                    +b.repairs-item
                                        p Возраст и состояние внутренних конструкций
                                    +b.repairs-item
                                        p Соответствие интерьера модным трендам
                                    +b.repairs-item
                                        p Изношенность инженерных сетей
                    +b.repairs-packages
                        +e.row
                            +e.col
                                +b.repairs-package(data-emergence="hidden")
                                    +e.image
                                        img(data-src="assets/images/repairs-packages/1.jpg", alt="").js-parallax.js-lazy
                                    +e.bottom
                                        +e.P.title Базовый
                                        +e.P.price 9000 руб. за м<sup>2</sup>
                            +e.col
                                +b.repairs-package(data-emergence="hidden")
                                    +e.image
                                        img(data-src="assets/images/repairs-packages/2.jpg", alt="").js-parallax.js-lazy
                                    +e.bottom
                                        +e.P.title Комфорт
                                        +e.P.price 11000 руб. за м<sup>2</sup>
                            +e.col
                                +b.repairs-package(data-emergence="hidden")
                                    +e.image
                                        img(data-src="assets/images/repairs-packages/3.jpg", alt="").js-parallax.js-lazy
                                    +e.bottom
                                        +e.P.title Премиум
                                        +e.P.price 13500 руб. за м<sup>2</sup>
                    include ../includes/modules/calc
            +b.SECTION.construction
                .container
                    +b.SECTION.section-description(data-emergence="hidden")
                        +e.row
                            +e.col
                                +e.H3.title Строительство домов
                                +b.service-title-block(data-emergence="hidden")
                                    +e.H3.title Строительство домов
                                    img(data-src="assets/images/home.jpg", alt="").js-lazy
                            +e.col
                                +b.H4.title Строим дома под ключ в Краснодаре больше трёх лет   
                                .typography.text-columns
                                    p Надёжность и долговечность — главные критерии при строительстве домов. Поэтому с нами работают специалисты выского уровня. Мы дорожим своей репутацией и прислушиваемся к вашим пожеланиям. 
                                    p.hidden-sm Детальная проработка сметы и чертежей дома помогут достичь необходимого результата. Наша команда готова ответить на любые вопросы.
                    +b.SECTION.stages(data-emergence="hidden")
                        +b.H3.title Этапы воздведения дома
                        +e.row
                            +e.col
                                +b.advantage
                                    +e.P.count 01
                                    p Разбивка и вынос осей дома, разработка грунта и заливка фундамента
                            +e.col
                                +b.advantage
                                    +e.P.count 02
                                    p Возведение<br> стен
                            +e.col
                                +b.advantage
                                    +e.P.count 03
                                    p Устройство<br> перекрытий
                            +e.col
                                +b.advantage
                                    +e.P.count 04
                                    p Устройство<br> перекрытий
                            +e.col
                                +b.advantage
                                    +e.P.count 05
                                    p Внутренние<br> отделочные работы
                            +e.col
                                +b.advantage
                                    +e.P.count 06
                                    p Благоустройство территории
                    +b.construction-tilt
                        +e.row
                            +e.col-large
                                +b.construction-tilt-item(data-emergence="hidden")
                                    img(data-src="assets/images/tilt/1.jpg", alt="").js-parallax.js-lazy
                                    img(data-src="assets/images/tilt/1-sm.jpg", alt="").js-lazy
                                    +e.content
                                        +e.P.title «МАГИСТР»
                                        +e.col
                                            p S = 260 м<sup>2</sup>
                                            +e.P.price 3 000 000₽ 
                                    
                        +e.row
                            +e.col
                                +b.construction-tilt-item(data-emergence="hidden")
                                    img(data-src="assets/images/tilt/2.jpg", alt="").js-parallax-right.js-lazy
                                    img(data-src="assets/images/tilt/2-sm.jpg", alt="").js-lazy
                                    +e.content
                                        +e.P.title «СЕНЬОР»
                                        +e.col
                                            p S = 260 м<sup>2</sup>
                                            +e.P.price 3 000 000₽ 
                                    
                            +e.col
                                +b.construction-tilt-item(data-emergence="hidden")
                                    img(data-src="assets/images/tilt/3.jpg", alt="").js-parallax.js-lazy
                                    img(fata-src="assets/images/tilt/3-sm.jpg", alt="").js-lazy
                                    +e.content
                                        +e.P.title «ВЕЛЬМОЖА»
                                        +e.col
                                            p S = 260 м<sup>2</sup>
                                            +e.P.price 3 000 000₽ 
        +b.SECTION.icons(data-emergence="hidden")
            .container
                +b.H3.title Мы экономим ваш бюджет и время
                +e.row
                    +e.col
                        +b.icon-item
                            +e.icon
                                svg.svg-icon
                                    use(href='assets/icons/sprite.svg#icon-1')
                            +e.P.title Не нужно искать подрядчиков
                            +e.desc
                                p Мы реализуем ваш проект от макета до готового дома
                    +e.col
                        +b.icon-item
                            +e.icon
                                svg.svg-icon
                                    use(href='assets/icons/sprite.svg#icon-2')
                            +e.P.title Соблюдение сроков прописаных в договоре
                            +e.desc
                                p Сроки работ оговариваются и вносятся в договор
                    +e.col
                        +b.icon-item
                            +e.icon
                                svg.svg-icon
                                    use(href='assets/icons/sprite.svg#icon-3')
                            +e.P.title Выгодные цена на стройматериалы
                            +e.desc
                                p Мы закупаем материалы по оптовой цене
                    +e.col
                        +b.icon-item
                            +e.icon
                                svg.svg-icon
                                    use(href='assets/icons/sprite.svg#icon-4')
                            +e.P.title Свой штат<br> сотрудников
                            +e.desc
                                p Все вопросы связанные с реализацией решаем мы
        include ../includes/modules/answer
        include ../includes/modules/footer

block script
    script(src="assets/js/app.js")