extends ../layout/main

block variables
    - var title = 'Риф.юг - Уют начинается с интерьера в доме';
    - var description = '';
    - var pageName = 'interior-design';


block content
    // WEBSITE
    +b.content.page-index
        include ../includes/modules/header
        +b.SECTION.breadcrumbs
            .container
                +e.A(href="/") Главная
                +e.SPAN.separator
                span Дизайн интерьера
        +b.SECTION.page-intro
            +e.content
                .container
                    +e.H2.title 
                        span Уют начинается с интерьера в доме
            img(src="assets/images/intro/interior-design.jpg", alt="")
        include ../includes/modules/answer
        include ../includes/modules/footer

block script
    script(src="assets/js/app.js")