extends ../layout/main

block variables
    - var title = 'Риф.юг - Мебель сделанная с душой специально для вас';
    - var description = '';
    - var pageName = 'made-furniture';


block content
    // WEBSITE
    +b.content.page-index
        include ../includes/modules/header
        +b.SECTION.breadcrumbs
            .container
                +e.A(href="/") Главная
                +e.SPAN.separator
                span Мебель на заказ
        +b.SECTION.page-intro
            +e.content
                .container
                    +e.H2.title 
                        span Мебель сделанная с душой специально для вас
            img(src="assets/images/intro/made-furniture.jpg", alt="").js-parallax
        +b.SECTION.advantages
            .container
                +b.H3.title Почему у нас стоит заказывать мебель
                +e.row
                    +b.advantage
                        +e.P.count 01
                        p Несём ответственность<br> за качество
                    +b.advantage
                        +e.P.count 02
                        p Изготовление стандартной и нестандартной мебели-можете поручить нам!
                    +b.advantage
                        +e.P.count 03
                        p Индивидуальный подход к каждому проекту
        +b.overlay-gray

            +b.SECTION.furniture
                .container
                    +e.H3.title.hidden-sm Мебель под заказ
                    +e.row
                        +e.col.hidden-sm
                            section
                                +b.quote
                                    p Мы индивидуально подбираем дизайн и материалы, исходя из вашего бюджета
                                img(src="assets/images/furniture/1.jpg", alt="").js-parallax
                            section
                                +b.quote(class="--before-line")
                                    p К каждому проекту готовится технический задание, с точными размерами и подбором мебельной фурнитуры и материалов
                                img(src="assets/images/furniture/2.jpg", alt="").js-parallax
                        +e.col
                            section.hidden-sm
                                .typography
                                    p Разработайте вместе с нашими дизайнерами уникальную мебель для вашего дома или квартиры. Широкий выбор материалов, фурнитуры и форм помогут удовлетворить самый взыскательный вкус.
                                    p Мы  полонстью контролируем весь процесс создания мебели. Это помогает избежать брака.
                            section.hidden-sm
                                +b.quote(class="--before-line")
                                    p Собственное производство — лучшее доказательство широких технических возможностей
                                img(src="assets/images/furniture/3.jpg", alt="").js-parallax-right
                            +b.SECTION.steps
                                +e.H3.title Порядок работы
                                +b.step
                                    +e.P.count 01
                                    +e.P.title Производим<br> замеры
                                +b.step
                                    +e.P.count 02
                                    +e.P.title Разрабатываем<br> эскиз
                                +b.step
                                    +e.P.count 03
                                    +e.P.title Расчет изделия
                                    +e.P.desc Подготовка коммерческого предложения
                                +b.step
                                    +e.P.count 04
                                    +e.P.title Заключаем договор
                                    +e.P.desc Утверждаем коммерческое предложение, прописываем срок
                                +b.step
                                    +e.P.count 05
                                    +e.P.title Производство и<br> закупка материалов

                                +b.step
                                    +e.P.count 06
                                    +e.P.title Сборка, доставка и установка


        +b.SECTION.icons
            .container
                +b.H3.title РИФ.UG — ваш качественный подрядчик
                +e.row
                    +e.col
                        +b.icon-item
                            +e.icon
                                svg.svg-icon
                                    use(href='assets/icons/sprite.svg#icon-5')
                            +e.P.title Дизайн как призвание
                            +e.desc
                                p У нас идейные специалисты, которым есть что предложить
                    +e.col
                        +b.icon-item
                            +e.icon
                                svg.svg-icon
                                    use(href='assets/icons/sprite.svg#icon-6')
                            +e.P.title Когда всё сочетается
                            +e.desc
                                p Мы подберем для вас магазин и мебель
                    +e.col
                        +b.icon-item
                            +e.icon
                                svg.svg-icon
                                    use(href='assets/icons/sprite.svg#icon-7')
                            +e.P.title Две версии дизайна
                            +e.desc
                                p Выберите рукописный или 3D макет 
                    +e.col
                        +b.icon-item
                            +e.icon
                                svg.svg-icon
                                    use(href='assets/icons/sprite.svg#icon-8')
                            +e.P.title Качество работ
                            +e.desc
                                p Вы будете довольны результатом
        include ../includes/modules/answer
        include ../includes/modules/footer

block script
    script(src="assets/js/app.js")