extends ../layout/main

block variables
    - var title = 'Риф.юг - Ремонт бывает с таким завершением';
    - var description = '';
    - var pageName = 'repairs';


block content
    // WEBSITE
    +b.content.page-index
        include ../includes/modules/header
        +b.SECTION.breadcrumbs
            .container
                +e.A(href="/") Главная
                +e.SPAN.separator
                span Ремонт
        +b.SECTION.page-intro
            +e.content
                .container
                    +e.H2.title 
                        span Ремонт бывает с таким завершением
            img(src="assets/images/intro/repairs.jpg", alt="")
        include ../includes/modules/answer
        include ../includes/modules/footer

block script
    script(src="assets/js/app.js")