// colors
.color-warning {
  color: $warning-color;
}

.color-success {
  color: $success-color;
}

.color-black {
  color: #000;
}

.color-danger {
  color: $danger-color;
}

.color-primary {
  color: $primary-color;
}

.color-gray {
  color: $gray !important;
}

.nav-button {
  * {
    pointer-events: none;
  }
}

.hidden {
  display: none;
}
.hidden-sm {
  @include sm-block() {
    display: none;
  }
}

.hidden-xs {
  @include xs-block() {
    display: none;
  }
}

.nowrap {
  white-space: nowrap;
}

.status {
  color: $border-base;
  font-weight: 500;

  &--success {
    color: $success-color;
  }

  &--gray {
    color: #274f6e;
  }
  &--warning {
    color: $warning-color;
  }
  &--danger {
    color: $danger-color;
  }

  span {
    display: block;
  }
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.between {
  justify-content: space-between;
}

.row {
  $parent: &;
  @include row-flex();
  margin-bottom: -15px;

  .col {
    @include col();
    @include size(6);
    @include size-sm(12);
    margin-bottom: 15px;
  }
}
