// Font
$mainFont: "Montserrat";
$accentFont: "Barlow Condensed";
// Size
$mainFontColor: #000;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.3;

// Main color
$gray-light: #fbfbfb;
$default-color: #ffffff;
$success-color: #1ec16f;
$danger-color: #eb001b;

$warning-color: #ff5100;
$gray: #4f4f4f;
$primary-color: #cab48c;
$border-base: #e0e0e0;

// Neutral Color
$neutral-primary: #16446b;

// Border Color

// Animations
$anim: cubic-bezier(0.6, 0.2, 0.1, 1);
$animSpeed: 0.8s;

$block-radius: 8px;

// fields
$field-margin: 25px;
$field-border-width: 1px;
$field-border-color: #bdbdbd;
$field-color-danger: $danger-color;
$field-radius: 0;
$field-height: 60px;
$field-bg: transparent;
