#policy.modal
  +b.modal-inner(class="--lg")
    +e.close.js-close-modal
      svg.svg-icon
        use(href='assets/icons/sprite.svg#icon-cross')
    +b.policy
      +e.H3.title Политика конфиденциальности
      .typography
        p Политика в отношении обработки персональных данных определяет основные принципы и правила по обработке персональных данных, которыми мы руководствуемся в нашей работе, а также в общении с клиентами, поставщиками и сотрудниками. Политика в отношении обработки персональных данных распространяется на всех наших сотрудников.
        p При обработке персональных данных мы стремимся соблюдать требования законодательства Российской Федерации, в частности Федеральный закон № 152-ФЗ «О персональных данных», а также нормы и правила, установленные в нашей компании.
        +b.A(href="Политика.pdf" download).document
          +e.icon
            img(src="assets/images/icons/pdf.svg", alt="")
          +e.name Политика в отношении обработки персональных данных
        p По всем вопросам вы можете связаться по email: <strong><a href="mailto:info@rif.ug">info@rif.ug</a></strong>
      