// FORM STYLES

// buttons, submit
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
  pointer-events: none;
  opacity: 0.5;
}

//

input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

label {
  display: block;
  line-height: 1.1;
  font-size: 13px;
  font-weight: 700;
  color: $neutral-primary;

  sup {
    color: $danger-color;
  }
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  margin: 0;
  font-weight: 400;
}

input {
  line-height: normal;
}

textarea {
  line-height: 1.25em;
}

select {
  border: $field-border-width solid $field-border-color;
  background-color: $field-bg;
  appearance: none;
  padding-right: 30px;

  &::-ms-expand {
    display: none;
  }
}

select[size],
select[multiple] {
  height: auto;
}

.select {
  position: relative;

  select {
    margin: 0;
    cursor: pointer;
  }

  &--after-none {
    &:after {
      display: none !important;
    }
  }

  &:after {
    content: "";
    width: 13px;
    height: 6px;
    background: svg-load("../icons/select-after.svg", fill=$primary-color);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    pointer-events: none;
  }

  &--radius {
    select {
      border-radius: 25px;
    }
  }

  &--line-gray {
    select {
      background: transparent;
      border: solid 1px #bababa;
    }
  }
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  display: block;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input:not([type="checkbox"]),
input:not([type="radio"]),
select,
textarea {
  border: $field-border-width solid $field-border-color;
  border-radius: $field-radius;
  background: $field-bg;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  padding-left: 15px;
  height: $field-height;
  font-size: 18px;
  font-weight: 400;
  overflow: hidden;
  transition: all 0.2s ease;
  background: #fff;
  @include lg-block() {
    height: 50px;
    font-size: 12px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::placeholder {
    color: $gray;
  }

  &:hover {
    border-color: #000;
  }

  &:focus {
    border-color: #000;
  }
}

textarea {
  height: 120px;
  padding-top: 10px;
}

input[type="color"] {
  padding: 0;
}

input[type="color"] {
  width: $field-height;
  height: $field-height;
}

.field {
  position: relative;
  $parent: &;

  .messages {
    margin: 5px 0 0 0;
    font-size: 12px;
  }

  label:not(.select) {
    margin-bottom: 8px;
    font-weight: 400;
    color: #000;
  }

  &--error {
    color: $field-color-danger;

    * {
      border-color: $field-color-danger !important;
    }

    // checkbox & radio error styles
    .checkbox,
    .radio {
      span {
        &:before {
          border-color: $field-color-danger;
        }
      }
    }
  }
}

input[readonly],
select[readonly],
textarea[readonly] {
  color: $neutral-primary;
  border-color: $field-border-color;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
