$speed: 0.15s;

.hamburger {
  .line {
    width: 20px;
    height: 1px;
    background-color: #000;
    display: block;
    margin: 6px auto;
    transition: all $speed ease-in-out;
    cursor: pointer;
  }

  &.is-active {
    .line {
      &:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }
}
