// Header style

.contacts-module {
  &__phone {
    display: block;
    font-size: 16px;
    color: $gray;
    font-weight: 700;
    margin-bottom: 6px;
    white-space: nowrap;
    &:hover {
      color: $gray;
    }
  }

  &__link {
    font-size: 15px;
    color: $gray;
    text-decoration: underline;
  }
}

.header {
  background: #ffffff;
  position: relative;
  z-index: 2;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  $parent: &;
  &__contacts {
    border-left: 1px solid $border-base;
    border-right: 1px solid $border-base;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include lg-block() {
      display: none;
    }
    @include md-block() {
      display: flex;
      margin-left: auto;
    }
    @include sm-block() {
      border: none;
      padding-left: 0;
    }

    .contacts-module {
      &__phone {
        @include sm-block() {
          font-size: 14px;
          margin: 0;
        }
      }
      &__link {
        @include sm-block() {
          display: none;
        }
      }
    }
  }
  .container {
    @include lg-block() {
      max-width: 1260px;
    }
  }
  .nav-button {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100px;
    background: transparent;
    @include md-block() {
      display: flex;
    }
    @include sm-block() {
      width: auto;
    }
  }
  &__row {
    display: flex;
  }
  &__logo {
    display: block;
    margin: 10px 40px 10px 0;
    @media screen and(max-width:1230px) {
      margin: 10px 15px 10px 0;
    }
    @include lg-block() {
      max-width: 84px;
      margin: 8px 25px 8px 0;
    }
    @include sm-block() {
      max-width: 60px;
    }
  }
  &__nav {
    padding: 0 15px;
    flex-grow: 1;
    border-left: 1px solid $border-base;
    @include lg-block() {
      padding-right: 0;
    }
    @include md-block() {
      display: none;
    }
    ul {
      display: flex;
      height: 100%;
    }
    a {
      font-size: 14px;
      color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 4px solid transparent;
      height: inherit;
      padding-top: 4px;
      @media screen and(max-width:1230px) {
        font-size: 12px;
      }
      @include lg-block() {
        font-size: 14px;
      }
      &:hover {
        color: #828282;
      }
    }
    li {
      height: inherit;
      flex-grow: 1;
      &.is-active {
        a {
          color: #828282;
          border-color: $neutral-primary;
        }
      }
    }
  }
}
